@charset "utf-8";
html{
  font-size: 62.5%;
}
body{
   font-size: 1.5rem;
   font-family: 'EB Garamond','Noto Sans JP Regular','Cormorant Garamond','Allura', sans-serif;
   color: #333;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0;
  font-weight: normal;
}
/* レイアウト */
.section {
  padding: 40px 0;
}
.section-wrapper {
  padding: 0 20px;
}
/* ヘッダー */
header{
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo{
  width: 110px;
}
.header-logo img {
  backface-visibility: hidden;
}
.header-nav-PC {
  display: none;
}
/* SP_topメニュー */
.header-nav-SP {
  position: fixed;
  background-color: #C32D4D;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}
.header-nav-SP.show{
  visibility: visible;
  opacity: 1;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.header-link li{
  margin-bottom: 20px;
}
.header-link li a{
  color: #FFFFFF;
  font-size: 2.4rem;
}
/* ハンバーガーボタン */
.nav-button {
  width: 48px;
  height: 48px;
  background-color: #C32D4D;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 0 8px;
  padding: 10px;
  cursor: pointer;
  z-index: 99;
}
.btn-line {
  background-color: #FFFFFF;
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  transition: all .4s;
  border-radius: 4px;
}
.btn-line::before,
.btn-line::after{
  position: absolute;
  content: "";
  background-color: inherit;
  width: inherit;
  height: inherit;
  left: 0;
  transition: inherit;
  border-radius: inherit;
}
.btn-line::before{
  top: -8px;
}
.btn-line::after{
  bottom: -8px;
}
.nav-button.active .btn-line {
  background-color: transparent;
}
.nav-button.active .btn-line::before,
.nav-button.active .btn-line::after{
  background-color: #FFFFFF;
  top: 0;
}
.nav-button.active .btn-line::before{
  transform: rotate(45deg);
}
.nav-button.active .btn-line::after{
  transform: rotate(-45deg);
}
/* メインビジュアル */
.mainvisual{
  background-image: url(../img/bg-header_sp.jpg);
  height: 360px;
  position: relative;
  text-align: center;
  z-index: -1;
  background-size: cover;
}
.mainvisual-inner {
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mainvisual-title {
  font-size: 4.8rem;
  color: #C32D4D;
  line-height: 1.3;
  margin-bottom: 4px;
}
.mainvisual-title span {
  font-size: 3.2rem;
}
.mainvisual-subtitle {
  font-size: 1.4rem;
}
/* コンセプト */
.concept {
  line-height: 1.8;
}
.concept-text {
  margin-bottom: 22px;
}
.page-link ul{
  display: flex;
  margin-bottom: 32px;
}
.page-link li {
  margin-right: 20px;
}
.page-link a{
  color: #C32D4D;
  text-decoration: underline;
  font-size: 1.6rem;
}
.profile {
  margin-bottom: 26px;
}
.profile-img {
  float: left;
  margin-right: 10px;
}
.concept-img picture img{
  width: 100%;
}
/* フッター */
.footer{
  padding: 40px 61px;
  background-color: #C32D4D;
  text-align: center;
}
.footer-nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-nav li a{
  color: #FFFFFF;
}
.copylight {
  color: #F9B1C0;
  font-size: 1.2rem;
}
/* ページビジュアル */
.page-mainvisual{
  background-image: url(../img/bg-page-header_sp.jpg);
  height: 160px;
  background-size: cover;
  z-index: -1;
  position: relative;
  text-align: center;
}
.page-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.page-title{
  font-size: 3.2rem;
  color: #C32D4D;
  margin-bottom: 2px;
}
.page-subtitle{
  font-size: 1.1rem;
  line-height: 3.7;
}
/* メニュー */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-items li{
  width: calc(50% - 15px);
}
.menu-items li:not(:last-child){
  margin-bottom: 26px;
}
.menu-items li img{
  margin-bottom: 9px;
}
.menu-title{
  margin-bottom: 7px;
  font-size: 1.3rem;
  line-height: 1.2;
}
.menu-price{
  font-size: 1.2rem;
  line-height: 1.1;
}
/* pc */
@media screen and (min-width: 768px){
  body{
    font-size: 1.6rem;
  }
 /* レイアウト */
  .section {
    padding: 70px 0;
  }
  .section-wrapper {
    padding: 0 165px;
  }
  /* ヘッダー */
  header{
    padding: 30px;
    width: 100vw;
  }
  .header-logo{
    width: 170px;
  } 
  .header-inner {
    display: flex;
    justify-content: space-between;
  }
  .header-nav-PC {
    display: block;
  }
  .header-nav-PC .header-link{
    display: flex;
    flex-direction: row;
  }
  .header-nav-PC .header-link li:not(:last-child){
    margin-right: 35px;
  }
  .header-nav-PC .header-link a {
    color: #333333;
  }
  .header-nav-PC .header-link a:hover {
    opacity: 0.8;
  }
  /* PC時にはハンバーガーメニューを閉じる */
  .nav-button {
    display: none;
  }
  /* メインビジュアル */
  .mainvisual{
    background-image: url(../img/bg-header_pc.jpg);
    height: 680px;
    background-size: cover;
    position: relative;
  }
  .mainvisual-inner {
    width: 451px;
  }
  .mainvisual-title {
    font-size: 8.8rem;
  }
  .mainvisual-title span {
    font-size: 6.4rem;
  }
  .mainvisual-subtitle {
    font-size: 1.8rem;
  }
  /* コンセプト */
  .concept-inner {
    display: flex;
    justify-content: space-between;
  }
  .concept-content{
    width: 50%;
    margin-right: 50px;
  }
  .concept-img {
    width: 50%;
  }
  .concept-img picture source{
    width: 100%;
  }
  .page-link ul{
    margin-bottom: 30px;
  }
  .profile {
    margin-bottom: 0px;
  }
  /* フッター */
  .footer{
    padding: 50px 573px;
  }
  .footer-nav {
    margin-bottom: 25px;
  }
  .footer-nav li a{
    font-size: 2rem;
  }

  /* ページビジュアル */
  .page-mainvisual{
    background-image: url(../img/bg-page-header_pc.jpg);
    height: 200px;
  }
  .page-title{
    font-size: 4.8rem;
    line-height: 0.9;
    margin-bottom: 4px;
  }
  .page-subtitle{
    font-size: 1.4rem;
    line-height: 2.9;
  }
  /* メニュー */
  .menu-items {
    display: flex;
    justify-content: flex-start;
  }
  .menu-items li{
    width: calc((100% / 3) - 30px);
    margin-right: 30px;
    margin-bottom: 50px;
  }
  .menu-items li:nth-child(3n){
    margin-right: 0;
  }
  .menu-items li img{
    margin-bottom: 9px;
  }
  .menu-title{
    margin-bottom: 7px;
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .menu-price{
    font-size: 1.2rem;
    line-height: 1.1;
  }
}