@charset "utf-8";
html{
  font-size: 62.5%;
}
body{
   font-size: 1.5rem;
   font-family: 'EB Garamond','Noto Sans JP Regular','Cormorant Garamond','Allura', sans-serif;
   color: #333;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0;
  font-weight: normal;
}
/* レイアウト */
.section {
  padding: 40px 0;
}
.section-wrapper {
  padding: 0 20px;
}
/* ヘッダー */
header{
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo{
  width: 110px;
}
.header-logo img {
  backface-visibility: hidden;
}
.header-nav-PC {
  display: none;
}
/* SP_topメニュー */
.header-nav-SP {
  position: fixed;
  background-color: #C32D4D;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}
.header-nav-SP.show{
  visibility: visible;
  opacity: 1;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.header-link li{
  margin-bottom: 20px;
}
.header-link li a{
  color: #FFFFFF;
  font-size: 2.4rem;
}
/* ハンバーガーボタン */
.nav-button {
  width: 48px;
  height: 48px;
  background-color: #C32D4D;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 0 8px;
  padding: 10px;
  cursor: pointer;
  z-index: 99;
}
.btn-line {
  background-color: #FFFFFF;
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  transition: all .4s;
  border-radius: 4px;
}
.btn-line::before,
.btn-line::after{
  position: absolute;
  content: "";
  background-color: inherit;
  width: inherit;
  height: inherit;
  left: 0;
  transition: inherit;
  border-radius: inherit;
}
.btn-line::before{
  top: -8px;
}
.btn-line::after{
  bottom: -8px;
}
.nav-button.active .btn-line {
  background-color: transparent;
}
.nav-button.active .btn-line::before,
.nav-button.active .btn-line::after{
  background-color: #FFFFFF;
  top: 0;
}
.nav-button.active .btn-line::before{
  transform: rotate(45deg);
}
.nav-button.active .btn-line::after{
  transform: rotate(-45deg);
}
/* メインビジュアル */
.mainvisual{
  background-image: url(../img/bg-header_sp.jpg);
  height: 360px;
  position: relative;
  text-align: center;
  z-index: -1;
}
.mainvisual-inner {
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mainvisual-title {
  font-size: 4.8rem;
  color: #C32D4D;
  line-height: 1.3;
  margin-bottom: 4px;
}
.mainvisual-title span {
  font-size: 3.2rem;
}
.mainvisual-subtitle {
  font-size: 1.4rem;
}
/* コンセプト */
.concept {
  line-height: 1.8;
}
.concept-text {
  margin-bottom: 22px;
}
.page-link ul{
  display: flex;
  margin-bottom: 32px;
}
.page-link li {
  margin-right: 20px;
}
.page-link a{
  color: #C32D4D;
  text-decoration: underline;
  font-size: 1.6rem;
}
.profile {
  margin-bottom: 26px;
}
.profile-img {
  float: left;
  margin-right: 10px;
}
/* フッター */
.footer{
  padding: 40px 61px;
  background-color: #C32D4D;
  text-align: center;
}
.footer-nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-nav li {
  /* margin-right: 30px; */
}
.footer-nav li a{
  color: #FFFFFF;
}
.copylight {
  color: #F9B1C0;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px){
  
}